* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020118;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
}

.container {
  background-color: #0B0A22;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 20;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button img {
  width: 20px;
  height: 20px;
}

h2 {
  margin-top: 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.fact {
  font-size: 14px;
  color: #b3b3b3;
  margin: 15px 0;
  line-height: 1.4;
}

.equation {
  font-size: 20px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.element-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 12px;
  margin-bottom: 5px;
  color: #ccc;
}

.element {
  font-weight: bold;
  margin: 5px 0;
}

.input-box {
  width: 45px;
  height: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: white;
  outline: none;
  margin: 5px 0;
}

.input-box:focus {
  border-color: #666;
  background-color: #444;
}

.check-button {
  font-size: 16px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  background-color: #444;
  color: #999;
  transition: all 0.3s;
  margin-top: 20px;
  font-weight: bold;
}

.check-button.active {
  background-color: #F2F2F2;
  color: #020118;
  cursor: pointer;
}

.result-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #0b0b1a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: none;
  text-align: center;
  z-index: 30;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.result-box.correct h3 {
  color: #56CE2A;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.result-box.incorrect h3 {
  color: #CE2A2A;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.result-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.result-options a,
.result-options div {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-options a {
  background-color: #CE2A2A;
}

.result-options a:hover {
  background-color: #CE2A2A;
}

.result-options div#nextPageBtn {
  background-color: #56CE2A;
}

.result-options div#nextPageBtn:hover {
  background-color: #56CE2A;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}

.input-box::placeholder {
  color: #777;
  opacity: 1;
}

.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
