body{
    background-color: #020118;
    display: flex;
    justify-content: center;
    background-image: url(assets/zvjezdice.svg);
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    width: 400px;
    padding:40px;
}
.zvijezda.sunce{
    
}
.zvijezda.sirius{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linija{
   height: 106px;
}
.linija.prva{
    margin-right: 200px;
    margin-bottom: 9px;
}
.katanac{
    position: absolute;
    top: 47.9%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.linija.druga{
    margin-right: 70px;
    margin-bottom: 9px;
}